---
name: Send WhatsApp Poll

permissions:
  actions: write

on:
  # switched to cron-job.org to avoid GitHub Actions delay time
  # schedule:
  # - cron: '55 4 * * 0-4' # 07:55 Israel Time (UTC+3)
  workflow_dispatch: # for testing via manual trigger

jobs:
  call-reusable:
    uses: ./.github/workflows/_send-whatsapp.yaml
    with:
      action_type: poll
    secrets: inherit
